@page "/prodcategories/create/{CategoryId:int}"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Crear Prod/Categoría</h3>

<ProdCategoryForm @ref="prodCategoryForm" ProdCategory="prodCategory" OnValidSubmit="CreateAsync" ReturnAction="Return" />

@code {
    private ProdCategory prodCategory = new();
    private ProdCategoryForm? prodCategoryForm;

    [Parameter]
    public int CategoryId { get; set; }

    private async Task CreateAsync()
    {

        prodCategory.CategoryId = CategoryId;
        var httpResponse = await repository.Post("/api/prodcategories", prodCategory);
        if (httpResponse.Error)
        {
            var message = await httpResponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        Return();
    }

    private void Return()
    {
        prodCategoryForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo($"/countries/details/{CategoryId}");
    }
}
