@page "/Orders/SaleConfirmed"

<center>
    <h3>Pedido Confirmado</h3>
    <img src="images/Shopping.png" width="300" />
    <p>Su pedido ha sido confirmado. Pronto recibirá sus productos, agradecemos por su compra.</p>
    <a href="/" class="btn btn-primary">Volver al inicio</a>
</center>
